VITE_SUPABASE_URL=https://yvcfgjrgufklihwpwddj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2Y2ZnanJndWZrbGlod3B3ZGRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0Nzc5OTEsImV4cCI6MjA5OTA1Mzk5MX0.-2hHm7xPCtEzvoouIoGm8TgndNjXZONLtSyFkeDtabI
VITE_API_URL=http://localhost:5000
