PORT=5000
GROQ_API_KEY=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
RESEND_API_KEY=re_G3ePXV3R_NsWifxGHH5Yrp1VNfJCRvBzj
RESEND_FROM_EMAIL=onboarding@resend.dev
CORS_ORIGIN=http://localhost:5173
